{% if(age > 18) %}
	<p>hello {{ username }} you are allowed to see this page</p>
	{% if(age <= 35) %}
		you are not so old
	{% endif %}

	{% else do %}
		you are oooooooooooold
	{% endelse %}
{% endif %}
{% else do %}
	<p>sry yout unable to see this page</p>
{% endelse %}


{% si age in 1 ... 19 %}
<p>you are between 1 and 19</p>
{% endsi %}

{% else do %}
	<p>you are {{age}}</p>
{% endelse %}
